@font-face { font-family: Montserrat; 
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf'); } 


* {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
}

.subtitles-h2 {
    margin-bottom: 1.5rem;
    font-size: 2.7em;
    font-weight: 600;
    color: #0A8238;
}

.text-mute {
    color: grey;
}

main.container-fluid {
    overflow: auto;
}

/* Boton */
.btn.btn-primary {
    border: none;
    background-color: #FF8038;
    padding: 18px 46px;
}
.btn.btn-primary:hover {
    border: none;
    background-color: #ff711f;
}
.btn.btn-primary:active {
    border: none;
    background-color: #ea5c09;
}
.btn.btn-primary:focus-visible {
    border: none;
    background-color: #ff711f;
}

/* HEADER */

.header {
    background-color: white;
}

header.header > div {
    margin: 0;
}

div.img-logo-div img.img-logo {
    width: 40px;
}

ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

li.nav-item {
    width: 100%;
    
    
}

a.nav-link {
    font-size: 14px;
    padding: 1.8rem 2.5rem;
    background-color: #D1522C;
    color: white;
}
a.nav-link:hover {
    background-color: #c34d29;
    color: white;
}
a.nav-link:active {
    background-color: #bd3b13;
    color: white;
}
a.nav-link:focus-visible {
    background-color: #bd3b13;
    color: white;
}
a.nav-link:focus {
    background-color: #bd3b13;
    color: white;
}
a.nav-link:target {
    background-color: #bd3b13;
    color: white;
}

.boton-contactanos {
    font-size: 15px;
}

/* Home */

.home {
    margin-top: 6rem;
}

 h1.h1-home {
    margin-top: 2.5rem;
    margin-bottom: 0.7rem;
    font-size: 3.6em;
    color: #0A8238;
 }
.eslogan-home {
    
    margin: 0;
    margin-bottom: 1rem; 
}
.eslogan-home p {
    font-size: 14px;
    border: 2px solid #A2302D;
    padding: 0.1rem 0.5rem;
    border-top: none;
    border-bottom: none;
    display: inline-block;
}

#carousel-home{
    background-color: #f5884900;
}
.carousel-inner {
    height: 68vh;
}
.carousel-item {
    
}
.img-carousel {
    height: fit-content;
}


/* separador-junto-posadas */

.separador-junto-posadas {
    background-color: #DA7A51;
    color: white;
    text-align: center;
    padding: 2rem;
}
.separador-junto-posadas p {
    margin: 0;
}

.separador-junto-posadas p span {
    font-weight: bold;
}

/* Quienes Somos */

.quienes-somos {
    background-color: #EAEAEA;
    padding: 3rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.img-div-quienes-somos img {
    width: 80%;
}

.quienes-somos-text {
    border-left: 3px solid #A2302D;
    padding: 2rem;
    text-align: center;
}

.quienes-somos-text p {
    width: 500px;
}

/* Actividades del Club */

.actividades-club {
    padding: 3rem;
    padding-top: 4rem;
    
    text-align: center;
}
.actividades-club h2 {
    padding-bottom: 2rem;
}
.actividades-deportes {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.actividades-deportes div  {
    width: 250px;
    height: 250px;
    margin-bottom: 1em;    
}
.actividades-deportes div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actividades-deportes p {
    font-weight: 600;
    margin: 0;
}

.actividades-deportes p.text-mute {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

/* aca-estamos */
.aca-estamos {
    background-color: rgb(166, 97, 57);
    padding: 5.5rem;
}
.h2-aca-estamos {
    color: white;
}

.aca-estamos-text p {
    font-size: 24px;
    font-weight: bolder;
    color: #333333;
}

/* Contactanos section */

.foto-contactanos {
    background-image: url("../public/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash\(1\)\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactanos-h2 {
    color: black;
    margin-top: 6rem;
    margin-bottom: 38rem;
}

.contactanos-p {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.375);
    width: fit-content;
    margin-bottom: 6rem;
    font-size: 22px;
    font-weight: 600;
}

.formdiv-contactanos {
    background-color: #FDF8F8;
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem;
}
.formdiv-contactanos form {
    
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;

}
.formdiv-contactanos form input {
    height: 6rem;
    border: none;
}
.formdiv-contactanos form textarea#consulta-form {
    padding-bottom: 10rem;
}
.formdiv-contactanos form .submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formdiv-contactanos form div input[type=submit] {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 18px 7rem;
    font-weight: 600;
    font-size: 18px;
}

    /* llamanos-contacto */

    .numero-telefono-form {
        text-align: center;
    }
    .numero-telefono-form div{
        display: flex;
        justify-content: space-evenly;
    }
    .numero-telefono-form div p {
        margin: 0;
    }


/* FOOTER */
.footer-landing {
    background-color: #333333;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 12px;
    color: white;
}

.ul-footer {
    margin: 0;
    padding: 0;

}

ul li {
    list-style: none;

}

.footer-div-p {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
}
.footer-div-p p {
    margin: 0;
}

